body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
.game{
    color: #73C8F0;
}
.flex{
    display: flex;
    align-items: center ;
    padding-top: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.membership{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    box-shadow: 5px 5px 12px gray;
}
.para{
    text-align: justify;
    padding-bottom: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#73C8F0, #44b6eb);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
.top-part{
    background-image: url(image/2in1.png);
    background-repeat: no-repeat;
}
.second-part{
    background-image: url(image/nn.png);
    
}
.final-part{
    background-image: url(image/cn.png);
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
#Free{
    border-left: 5px solid;
    border-image: linear-gradient(#73C8F0, #44b6eb);
    border-image-slice: 9;
    

}
#pro{
    border-left: 5px solid;
    border-image: linear-gradient(#73C8F0, #44b6eb);
    border-image-slice: 5;
}
.mem{
    padding-left: 150px; 
}